node_modules/
.expo/
dist/
web-build/
npm-debug.*
*.orig.*
coverage/

.DS_Store
*.pem
*.jks
*.p8
*.p12
*.key
*.mobileprovision

android/.gradle
android/app/build/
ios/build/

.env
.env.local

eas-debug.log
